# Created by https://www.toptal.com/developers/gitignore/api/python
# Edited manually for relevant sections so far

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vscode/settings.json
